/* src/pages/QuestTasksPage.css */

.quest-tasks-page-container {
  padding-top: 4vh;
  max-width: 800px;
  margin: 0 auto;
}

.quest-tasks-page {
  background: rgba(32, 0, 82, 0.7);
  border-radius: 10px;
  padding: 2vh 2vw;
  padding-bottom: 4vh;
  margin-bottom: 2vh;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.back-button {
  background-color: #6f3ff5;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 4px;
}

.back-button:hover {
  background-color: #5a2dcd;
}

.quest-header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.quest-image img {
  width: 200px;
  height: auto;
  border-radius: 8px;
  margin-right: 20px;
}

.quest-info h1 {
  margin: 0 0 10px 0;
}

.quest-info p {
  margin: 5px 0;
  font-size: 1.1em;
}

.quest-tasks h2 {
  margin-bottom: 15px;
}

.quest-task-container {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 0.1vw solid #b1b1b1; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0.2vw;
  padding: 1.2vh 1vw;
  background: rgba(0, 0, 0, 0.4);
}

.task-index-and-description {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.task-button {
  background-color: #6f3ff5;
  color: white;
  border: none;
  padding: 1vh 1.5vw;
  cursor: pointer;
  border-radius: 0.2vw;
}

.task-index {
  border: 0.05vw solid #b1b1b1;
  padding: 0.6vh 0.6vw;
  border-radius: 0.3vw;
}

.task-button:hover {
  background-color: #5a2dcd;
}

.task-item p {
  margin: 0;
  font-size: 1em;
}
