.top-right-buttons {
  position: absolute;
  right: 3vw;
}

.connect-button, .logout-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.connect-button {
  background-color: rgba(131, 110, 249, 1);
}

.logout-button {
  background-color: rgba(160, 5, 93, 1);
}

.connect-button:hover, .logout-button:hover {
  opacity: 0.8;
}
