.mint-badge-button {
  padding: 1vh 2vw;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1.1vw;
}

.mint-badge-button {
  background-color: #6f3ff5;
}

.mint-badge-button:hover {
  background-color: #5a2dcd;
}
@media (max-width: 768px) {
  .mint-badge-button {
    font-size: 3.5vw;
    padding: 2vh 4vw;
  }
}

@media (max-width: 480px) {
  .mint-badge-button {
    font-size: 3.5vw;
    padding: 2vh 4vw;
  }
}