.page-title {
  font-size: 3em;
  margin-bottom: 20px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: 600;
  justify-content: center;
  text-align: center;
}

.big-connect-button {
  background-color: rgba(131, 110, 249, 1);
  color: #ffffff;
  border: none;
  padding: 2.4vh 9.5vw;
  font-size: 1.5vw;
  border-radius: 0.4vw;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}